* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

p {
  font-size: 18px; }

.container {
  width: 100vw;
  height: 100vh;
  margin: 10px; }

.header {
  display: flex;
  justify-content: space-between; }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.content {
  max-width: 1024px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center; }

.about-me-page, .my-work-page, .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 15px; }

.header {
  width: 100%;
  border: 2px solid #000;
  height: 150px;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center; }

.menu {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 100%; }

@keyframes about-me {
  100% {
    left: -50px;
    top: -35px; } }
@keyframes my-work {
  100% {
    left: -55px;
    top: 30px; } }
@keyframes contact-page {
  100% {
    top: 60px; } }
@keyframes bar-one {
  100% {
    transform: translateY(8px) translateX(1px) rotate(90deg); } }
@keyframes bar-three {
  100% {
    transform: translateY(-8px); } }
@keyframes bar-one-line {
  0% {
    transform: translateY(8px); }
  100% {
    transform: translateY(8px); } }
@keyframes bar-three-line {
  0% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(-8px); } }
@keyframes bar-one-x {
  0% {
    transform: translateY(8px); }
  100% {
    transform: translateY(9px) translateX(1px) rotate(135deg); } }
@keyframes bar-two-x {
  100% {
    transform: rotate(135deg); } }
@keyframes bar-three-x {
  0% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(-8px) rotate(45deg); } }
.menu {
  position: relative;
  padding: 15px; }
  .menu .bar-one, .menu .bar-two, .menu .bar-three {
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 100px; }
  .menu:hover {
    cursor: pointer; }
    .menu:hover .bar-one {
      animation: bar-one .25s  1 linear;
      transform-origin: top;
      animation-fill-mode: forwards; }
    .menu:hover .bar-three {
      animation: bar-three .25s  1 linear;
      animation-fill-mode: forwards; }

.about-me, .my-work, .contact-page {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: none; }

.x-active .bar-one {
  animation: bar-one-line .15s  1 linear;
  animation-fill-mode: forwards; }
.x-active .bar-three {
  animation: bar-three-line .15s  1 linear;
  animation-fill-mode: forwards; }
.x-active .about-me {
  animation: about-me .5s ease-in-out 0s 1;
  animation-fill-mode: forwards;
  background-color: green; }
.x-active .my-work {
  animation: my-work .5s ease-in-out 0s 1;
  animation-fill-mode: forwards;
  background-color: blue; }
.x-active .contact-page {
  animation: contact-page .5s ease-in-out 0s 1;
  animation-fill-mode: forwards;
  background-color: red; }
.x-active:hover .bar-one {
  animation: bar-one-x .5s  linear;
  animation-fill-mode: forwards; }
.x-active:hover .bar-two {
  animation: bar-two-x .5s  1 linear;
  animation-fill-mode: forwards; }
.x-active:hover .bar-three {
  animation: bar-three-x .5s  1 linear;
  animation-fill-mode: forwards; }

.about-me:hover {
  transform: scale(1.5); }

.my-work:hover {
  transform: scale(1.5); }

.contact-page:hover {
  transform: scale(1.5); }

.about-me-page {
  height: 100%;
  border: 1px solid black; }
  .about-me-page img {
    width: 200px; }

.linkedin {
  background-image: url(../img/linked.png);
  background-size: cover;
  width: 50px;
  height: 50px; }

/*# sourceMappingURL=master.css.map */
