$tablet: "(max-width: 1023px)";


.container {
  width: 100%;
  height: 100%;
  // margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.content {
  max-width: 1024px;
  height: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
    @media #{$tablet} {
      flex-direction: column;
      width: 100%;
    }

}

.about-me-page, .my-work-page, .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 15px;
  @media #{$tablet} {
    width: 100%;
  }
}
