// MENU CROSS
@keyframes bar-one {
  0% {}
  100% {transform: translateY(8px) translate(1px) rotate(90deg);}
}

@keyframes bar-three {
  0% {}
  100% {transform: translateY(-8px);}
}
// END MENU CROSS

// MENU SINGLE LINE
@keyframes bar-one-line {
  0% {}
  100% {transform: translateY(8px);}
}

@keyframes bar-three-line {
  0% {}
  100% {transform: translateY(-8px);}
}
// END MENU SINGLE LINE
@keyframes bar-one-x {

}

@keyframes bar-two-x {

}

@keyframes bar-three-x {

}
// MENU
