.menu {
  position: relative;
  padding: 15px;
  .bar-one, .bar-two, .bar-three {
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 100px;
  }
    &:hover {
      cursor: pointer;
      .bar-one {
        animation: bar-one .25s  1 linear;
        transform-origin: top;
        animation-fill-mode: forwards;
      }
      .bar-three {
        animation: bar-three .25s  1 linear;
        animation-fill-mode: forwards;
      }
    }
}

.about-me, .my-work, .contact-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;;
  display: none;
}

.x-active {
  .bar-one {
    animation: bar-one-line .15s  1 linear;
    animation-fill-mode: forwards;
  }
  .bar-three {
    animation: bar-three-line .15s  1 linear;
    animation-fill-mode: forwards;
  }

  .about-me {
    animation: about-me .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    background-color: green;
  }
  .my-work {
    animation: my-work .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    background-color: blue;
  }
  .contact-page {
    animation: contact-page .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    background-color: red;
  }

    &:hover {
      .bar-one {
        animation: bar-one-x .5s  linear;
        animation-fill-mode: forwards;
      }
      .bar-two {
        animation: bar-two-x .5s  1 linear;
        animation-fill-mode: forwards;
      }
      .bar-three {
        animation: bar-three-x .5s  1 linear;
        animation-fill-mode: forwards;
      }
    }
}
