
body {
  background: linear-gradient(to right, #06beb6, #48b1bf);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: fixed;
  color: #424851;
}

.tilte {
  font-size: 30px;
}
